@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4b0082;
  color: white;
}

/* FireBaseData _________________________________________*/
.FireBaseDataH1 {
  font-weight: bold;
  font-size: 125px;
  color: yellow;
}

/* AantalGebruikLift ____________________________________*/
.AantalGebruikLiftRow {
  margin-top: 1rem;
}

.AantalGebruiktLifCol1 {
  padding: 1rem 0rem 1rem 0rem;
  margin-right: 1rem;
  background-color: #25133f;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.AantalGebruikLiftImage1 {
  margin-bottom: 1rem;
}

.AantalGebruiktLifCol2 {
  padding: 1rem 0rem 1rem 0rem;
  background-color: #43256b;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.AantalGebruiktLifCol3 {
  padding: 1rem 0rem 1rem 0rem;
  margin-left: 1rem;
  background-color: #663988;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

/* NavbarLift ___________________________________________*/
.NavbarLiftRow {
  background-color: #441e59;
  text-align: center;
  margin-top: 2rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.NavbarLifth1 {
  font-weight: bold;
  color: yellow;
}

.NavbarLifth3 {
  font-weight: bold;
}

/* GrafiekGebruikLift ____________________________________*/
.GrafiekGebruikLiftRow {
  margin-top: 1rem;
}

.GrafiekGebruikLiftCol1 {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #43256b;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.GrafiekGebruikLiftCol2 {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  background-color: #25133f;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.sliderTitle {
  font-weight: bold;
}
.sliderText {
  color: yellow;
  font-weight: bold;
}

.sliderTextWhite {
  color: white;
}

.qrCodeImage {
  width: 180px;
  height: 180px;
}

.qrCodeTitle {
  margin-bottom: 2rem;
  color: yellow;
  font-weight: bold;
}

/* Mobile Screen  ___________________________*/
@media only screen and (max-width: 591px) {
  .FireBaseDataH1 {
    font-size: 35px;
  }
  .AantalGebruikLiftImage1 {
    height: 35px;
    width: 35px;
  }

  .AantalGebruiktH2 {
    font-size: 30px;
  }

  .AantalGebruiktLifCol3 {
    margin-left: 0rem;
  }
}
