@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4b0082;
  color: white;
}

/* FireBaseData _________________________________________*/
.FireBaseDataH1 {
  font-weight: bold;
  font-size: 125px;
  color: yellow;
}

/* NavbarLift SLIDE 1 EN SLIDE 2 _________________________*/
.NavbarLiftRow {
  background-color: #441e59;
  text-align: center;
  margin-top: 2.5rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.NavbarLifth1 {
  font-weight: bold;
  color: yellow;
}
.NavbarLifth3 {
  font-weight: bold;
}

/* AantalGebruikLift ____________________________________*/
.AantalGebruikLiftRow {
  margin-top: 1rem;
}

.AantalGebruiktLifCol1 {
  padding: 1rem 0rem 1rem 0rem;
  margin-right: 1rem;
  background-color: #25133f;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

#AantalGebruikLiftImage1 {
  margin-bottom: 1rem;
  height: 150px;
  width: 150px;
}

.AantalGebruiktLifCol2 {
  padding: 1rem 0rem 1rem 0rem;
  background-color: #43256b;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.AantalGebruiktLifCol3 {
  padding: 1rem 0rem 1rem 0rem;
  margin-left: 1rem;
  background-color: #663988;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

/* GrafiekGebruikLift ____________________________________*/
.GrafiekGebruikLiftRow {
  margin-top: 1rem;
}
.GrafiekGebruikLiftCol1 {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #43256b;
  text-align: center;
  border-left: 3px solid #4b0082;
  border-right: 3px solid #4b0082;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.GrafiekGebruikLiftH2Text1 {
  margin-top: 3rem;
  text-align: left;
  font-weight: bold;
}

#GrafiekGebruikLiftH2Text1Kleur {
  color: yellow;
  font-weight: bold;
}

.GrafiekGebruikLiftCol1Streep {
  border-bottom: 3px white solid;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.GrafiekGebruikLiftH2Text2 {
  text-align: left;
  font-weight: bold;
  bottom: 0;
}

#GrafiekGebruikLiftH2Text2Kleur {
  color: red;
  font-weight: bold;
}

.GrafiekGebruikLiftCol2 {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  background-color: #663988;
  text-align: center;
  border-left: 3px solid #4b0082;
  border-right: 3px solid #4b0082;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

/* Mobile Screen Responsive , nog in proces en niet af momenteel _____*/
@media only screen and (max-width: 591px) {
  .FireBaseDataH1 {
    font-size: 35px;
  }
  .AantalGebruikLiftImage1 {
    height: 35px;
    width: 35px;
  }

  .AantalGebruiktH2 {
    font-size: 30px;
  }

  .AantalGebruiktLifCol3 {
    margin-left: 0rem;
  }

  .navbarlefttop {
    margin-top: 0rem;
    text-align: left;
    font-weight: bold;
  }
}
